 html {
 	background-color:rgb(247, 247, 103);
 }

 body {
 	width: 75%;
	margin: 0 auto; 

	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: rgb(242, 231, 231);
 }

 #cute_burger {
 	display: block;
    margin: auto;
 }

 h1 {
 	text-align: center;
 	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 	font-size: 65px;
 	margin: 50px;
 }

 .burgerAvailable {
 	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 10px;
 	width: 100%;
 	margin: 10px;
 	padding: 10px;
 	background-color: #c1cbf5;
 	border: none;
 }

 .burgerAvailable:hover {
 	background-color: #bbdffa;
 }

 .burgerEaten {
 	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 10px;
 	margin: 10px;
 	padding: 10px;
 	background-color:rgb(250, 210, 135);
 }

 h2 {
  	text-align: center;
 	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 	font-size: 40px;
 	margin: 50px;
 }

 .formContainer {
	background-color: rgb(225, 200, 120);
 }

 .addBurgerButton {
 	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	width: 100%;
 	margin: 0;
 	padding: 10px;
 	background-color: rgb(222, 211, 174);
 	border: none;
 }

.addBurgerButton:active {
	background-color: rgb(222, 211, 174);
}

.burgerFooter {

	background-color: rgb(84, 84, 198);
	padding: 20px 0;
}
